body {background:#ccc}

.box h3{
  text-align:center;
	position:relative;
	top:80px;
}
.box {
	width:80%;
    height: auto;
    display: inline-block;
	background:#FFF;
    margin:40px auto;
    margin-left: 10%;
}
.effect8
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.sort{
    margin-left: 10%;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.rooms{
    margin-top: 10%;
}
.room{
    border-bottom:1px solid black;
}

/**/
table {
    border-collapse: collapse;
    margin:10px; 
}
table, th, td {
    border: 1px solid black;
}
<<<<<<< HEAD
.circle {
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  .green {
    background-color: green;
  }
=======
td:hover {background-color: #bbb;}
>>>>>>> af9b5965dd181294a6cc5e56119243ee148e0311
