{% include 'header.html' %}
<body>
    <div class="admin container">
        <div class="row">
            <div class="effect8 col-sm-5">
                <div class="col-sm-8">
                    <h1>Meeting Rooms</h1>
                </div>
                <div class="col-sm-4">
                        <a id="newRoom" style="float: right; margin-top: 32px;"><h4>+ New Room</h4></a>
						<div id="roomModel" class="modal">
									<div class="modal-content">
										<span id="roomClose" class="close">&times;</span>
										<div class="log-form">
											<h2>Create New Room</h2>
											<form>
											  <input type="text" title="roomNumber" placeholder="Room Number" />
											  <select  title="mediaType" placeholder="Media Type" >
												  <option selected="selected" value="none">None</option>
												  <option value="tv">TV</option>
												  <option value="projector">Projector</option>
											  </select>
											  <button id="roomSubmit" type="submit" class="btn">Submit</button>
											</form>
										</div>
									</div>
								</div>
								<script>
									var roomModal = document.getElementById('roomModel');	
									var roomBtn = document.getElementById('newRoom');
									var roomSpan = document.getElementById("roomClose")[0];
									var roomSubmit = document.getElementById("roomSubmit")[0];
									roomBtn.onclick = function() {
										roomModal.style.display = "block";
									}
									roomSpan.onclick = function() {
										roomModal.style.display = "none";
									}
									roomSubmit.onclick = function() {
										roomModal.style.display = "none";
									}
									window.onclick = function(event) {
										if (event.target == roomModal) {
											roomModal.style.display = "none";
										}
									}
								</script>
                </div> 
                <hr>
                <div class="effect9 col-sm-12" style="margin-bottom: 10px">
                    <div class="col-sm-8"><h3>Meeting Room 587</h3>
                        <h6>Media Type: Projector</h6>
                        <h6>Has AV: True</h6>
                    </div>
                </div>
                <div class="effect9 col-sm-12" style="margin-bottom: 10px">
                        <div class="col-sm-8"><h3>Meeting Room 538</h3>
                            <h6>Media Type: TV</h6>
                            <h6>Has AV: True</h6>
                        </div>
                    </div>
                    <div class="effect9 col-sm-12" style="margin-bottom: 10px" >
                            <div class="col-sm-8"><h3>Meeting Room 545</h3>
                                <h6>Media Type: None</h6>
                                <h6>Has AV: False</h6>
                            </div>
                        </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="effect8 col-sm-5 other">
                    <div class="col-sm-8">
                            <h1>Users</h1>
                        </div>
                        <div class="col-sm-4">
                                <a id="newUser" style="float: right; margin-top: 32px;"><h4>+ New User</h4></a>
								<div id="userModel" class="modal">
									<div class="modal-content">
										<span class="close">&times;</span>
										<div class="log-form">
											<h2>Create New User</h2>
											<form>
											  <input type="text" title="username" placeholder="Username" />
											  <input type="text" title="firstname" placeholder="Firstname" />
											  <input type="text" title="lastname" placeholder="Lastname" />
											  <input type="text" title="email" placeholder="Email" />
											  <select  title="role" placeholder="Role" >
												  <option selected="selected" value="User">User</option>
												  <option value="administrator">Administrator</option>
											  </select>
											  <button type="submit" class="btn">Submit</button>
											</form>
										</div>
									</div>
								</div>
								<script>
									var modal = document.getElementById('userModel');	
									var btn = document.getElementById('newUser');
									var span = document.getElementsByClassName("close")[0];
									var submit = document.getElementsByClassName("btn")[0];
									btn.onclick = function() {
										modal.style.display = "block";
									}
									span.onclick = function() {
										modal.style.display = "none";
									}
									submit.onclick = function() {
										modal.style.display = "none";
									}
									window.onclick = function(event) {
										if (event.target == modal) {
											modal.style.display = "none";
										}
									}
								</script>
                        </div> 
                <hr>
                <div class="effect9 col-sm-12" style="margin-bottom: 10px">
                        <div class="col-sm-12"><h3>Jane Doe</h3>
                            <h6>Role: Administrator</h6>
                        </div>
                    </div>
                <div class="effect9 col-sm-12" style="margin-bottom: 10px">
                    <div class="col-sm-12"><h3>Glenn Doss</h3>
                        <h6>Role: User</h6>
                    </div>
                </div>
                <div class="effect9 col-sm-12" style="margin-bottom: 10px">
                    <div class="col-sm-12"><h3>John Smith</h3>
                        <h6>Role: User</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
{% include 'footer.html' %}
