<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Meeting Room Scheduler</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="../static/{{cssFilename}}">
	<link rel="stylesheet" type="text/css" href="../static/header.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<header class="clearfix">
	<div class="container">
		<h3 class="col-sm-4">Meeting Room Scheduler</h3>
		<div class="col-sm-8">
			<nav>
				<ul>
					<li class="route"><a href="/dashboard">Dashboard</a></li>
					<li class="route"><a href="/admin-page">Admin Page</a></li>
					{% if loggedIn is True %}
						<li class="route"><a href="/">Sign Out</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div><!-- end container -->
</header> 