<div class="box effect8">
    <div class="col-sm-12 room">
        <div class="room-number col-sm-6">
            <h2>{{MeetingRoom.roomNumber}}</h2>
        </div>
        <div class="col-sm-6">
                <h4 style="float: right; margin-top: 24px;">+ Add New Meeting</h4>
        </div>    
    </div>
    <hr>
    <div class="col-sm-6">
        {{Meeting.meetingName}}
    </div>
    <div class="col-sm-6">
        {{Meeting.startTime}} - {{Meeting.endTime}}
    </div> 
    <div class="col-sm-10">
        <table align="center" style="width:100%">
            <tr>
            <th></th>
            <th>8am</th> 
            <th>9am</th>
            <th>10am</th>
            <th>11am</th>
            <th>12pm</th>
            <th>1pm</th>
            <th>2pm</th>
            <th>3pm</th>
            <th>4pm</th>
            <th>5pm</th>
            <th>6pm</th>
            <th>7pm</th>
            </tr>
            <tr>
            <th>Mon</th>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
            <th>Tues</th>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
            <th>Wed</th>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
            <th>Thurs</th>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
            <th>Fri</th>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
            <th>Sat</th>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            <tr>
            <th>Sun</th>
            <td></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2" style="position: absolute;bottom: 0;right: -50px;">
        <p>Media Availability:</p> <div class="circle green"></div><br />
        <p>AV Type: Projector</p>
    </div>
</div>